h1 {
	padding-left: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: #AF4E63;
}

header {
	background-color: #99B5C3;
	border-style: solid;
	border-width: 2px;
	border-color: #8C8F9C;
}

body {
	background-color: #415083;
}

h2{
	font-family: 'Hind Vadodara', sans-serif;
	z-index:10;
    position: absolute;
    color: #FFF;
    padding: 60px;
    font-size: 5vw;
}

.mybutton {
    background-color: #415083; 
    border: none;
    color: white;
    padding: 1.3vw 3vw;
    text-align: center;
    display: inline-block;
    font-size: 1.2vw;
    margin: 4px 2px;
    cursor: pointer;
    z-index:10;
    margin-left: 120px;
    position: absolute;
    top: 330px;
    border-style: solid;
    border-color: #F9F8F7;
    border-width: 1px;
    font-family: 'Hind Vadodara'
}

.mybutton:hover {
    background-color: #DE826E;
    color: white;
}

p {
	font-family: 'Hind Vadodara', sans-serif;
	position: relative;
	color: #FFF;
	padding-bottom: 50px;
	padding-left: 15px;
}

nav {
	position:absolute;
	right:3vw;
	top: 3vw;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	padding-left: 20px;
	font-family:'Hind Vadodara', sans-serif;

}

nav li a {
	color: #F2F2F4;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}

nav li a:hover {
	text-decoration: underline;
	color: #DE826E;
	padding: 0 0 2px 0px;
}

.dog {
	width: 100%;
   	position: relative;
   	border: 2px;
   	border-style: solid;
   	border-color:#8C8F9C;
   	margin-top: 10px;
}

#address {
	margin-left:20px;
	font-family:'Voces', cursive;
	color: #F9F8F7;
	width: 40%;
	float: left;

}

div.foot {
	border-style: solid;
	border-color: #8C8F9C;
	background-color: #AF4E63;
	z-index: -1;
	height: 85px;
}


div.icons {
	float: right;
	width: 20%;
	padding: 1.2em;
}

@media screen and (max-width: 699px) and (min-width: 20px) {
    h1 {
    	padding-left: 10px;
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		color: #AF4E63;
}

div.icons {
	display: inline-block;
}

nav li {
	font-size: 8px;
	margin-top: 4px;
	padding: 1px;
}
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    h1 {
    	padding-left: 20px;
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		color: #AF4E63;
    }
    div.icons {

}
	nav li {
	font-size: 14px;
	margin-top: 8px;
}
}

@media screen and (min-width: 1001px) {
	h1 {
		padding-left: 20px;
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;
		color: #AF4E63;
	}

	div.icons {
		
	}
	
	nav li {
		font-size: 18px;
}

}